body{
	background-color: #212121;
	color: white;
}

.wrapper{
	width: 100%;
	height: 5000px;
}
button{
	color: black;
	cursor: pointer;
}

.modal{
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(253, 64, 64, .5);
	backdrop-filter: blur(1px);
}

.modal-content{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 250px;
	border-radius: 10px;
	background-color: white;
}